.acontainer{
    width: 500px;
    background-color: bisque;
    height: 600px;
    border-radius: 25px;
    font-family: cursive;
    margin: 0 auto 0 auto;
}

.sub-container{ 
    margin: 25px auto 10px auto;
    width: 450px;
    height: auto;

}
.sub-container img{ 
    height: 250px;
    border-radius: 15px;
    margin: 25px auto 0px auto;
}